<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>memberSave page</h3>
<form action="/member/memberSave" method="post">
    <input type="text" name="memberEmail" placeholder="email"> <br>
    <input type="password" name="memberPassword" placeholder="password"> <br>
    <input type="text" name="memberName" placeholder="name"> <br>
    <input type="text" name="memberBirth" placeholder="birth"> <br>
    <input type="text" name="memberMobile" placeholder="mobile"> <br>
    <input type="submit" value="가입">
    <input type="reset" value="취소">
</form>
</body>
</html>